<div class="row">
    <div class="col-12 co-lg-6" *ngFor="let item of negocio">
        <div class="caja-negocio my-3 d-flex align-items-center">
            <div class="imagen">
                <img src={{item.logo}} class="img-fluid" alt="">
            </div>
            <div class="contenido-negocio p-3">
                <a href=""><h4>{{item.name}}</h4></a>
                <small>{{item.country}}</small>
                <a href={{item.website}} class="d-block" target="_blank">{{item.website}}</a>
            </div>
        </div>
    </div>
</div>